!!!
%html
  %head
    %title Testapp
    = stylesheet_link_tag 'application.css'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body{ :id => controller_name, :class => action_name }
    #content
      = yield
